<!DOCTYPE html>
<html>

<% include ./head.ejs %>

<body>

<% include ./navigation.ejs %>

<div class="list-group">
    <h2>Book Details</h2>

    <div class="w3-card-4">
        <header class="w3-container w3-grey">
            <h1><strong>Title : </strong> <%= bookData.volumeInfo.title %></h1>
        </header>

        <div class="w3-container">
            <p><%= bookData.volumeInfo.description %></p>
        </div>

        <footer class="w3-container w3-grey">
            <h5><strong>Publisher : </strong><%= bookData.volumeInfo.publisher %></h5>
        </footer>
    </div>

</div>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</body>

</html>