<!DOCTYPE html>
<html>

<% include ./head.ejs %>

<body>

<% include ./navigation.ejs %>


<div class="list-group">
    <!-- loop over blog posts and render them -->
    <div class="row">
        <div class="col-md-6"><h2>List of Books</h2></div>
        <div class="col-md-4"><input type="text" class="form-control" name="search_box" id="search_box" placeholder="search by book name..."></div>
        <div class="col-md-2"><input class="btn btn-info" type="button" value="Search" onclick="searchBooks()"></div>
    </div>


<div>
    <table class="table" id="books_container">
        <thead>
        <tr>
        <th class="col-md-10">Book Title</th>
        <th class="col-md-2">Add as Favorite</th>
        </tr>
        </thead>
        <tbody>
        <% booksData.forEach((book) => { %>
        <tr>
            <td><a href="/user/book-details/<%= book.id %>" class="list-group-item col-md-10"><%= book.volumeInfo.title %></a></td>
            <td><input type="hidden" value="<%= book.id %>"><button type="button" class="btn btn-info">Mark as Favorite</button></td>
        </tr>
        <% }) %>
        </tbody>
    </table>
</div>
</div>

</body>
<script>
    $('button:button').click(function() {
//        var book_id = $(this).val();
        var book_id = "";
        $(this).closest('tr').find("input").each(function() {
            book_id = this.value;
        });
//        alert(book_id);
        $.ajax({
            url: "http://localhost:8080/user/favorite-book",
            type: 'POST',
            data: {book_id: book_id},
            success: function(response) {
                if(response.statusCode == 201 || response.statusCode == 200){
                   alert(response.statusMessage);
                }
            },
            error: function(err) {
                alert(err);
            }
        });

    });

    function searchBooks(){
        var search_keyword = $("#search_box").val();
        if(search_keyword && search_keyword.length >=3){
            $.ajax({
                url: "http://localhost:8080/user/search-book-by-title",
                type: 'POST',
                data: {search_keyword: search_keyword},
                success: function(response) {
                    if(response.bookData.length){
                        for(var i=0; i<response.bookData.length; i++){
                            $("#books_container > tbody").html("");
                            $("#books_container > tbody").append('<tr><td><a href="/user/book-details/'+response.bookData[i].id+'"'+' class="list-group-item col-md-10">' +response.bookData[i].volumeInfo.title+ ' </a></td><td><input type="hidden" value="'+response.bookData[i].id+'"><button type="button" class="btn btn-info">Mark as Favorite</button></tr>');
                        }
                    }
                    else
                    {
                        $("#books_container > tbody").html("");
                        $("#books_container > tbody").append('<tr><td colspan="2">No Book Records found</td></tr>');
                    }

                },
                error: function(err) {
                    alert(err);
                }
            });
        }
        else
        {
            alert("Please input at least 3 character")
        }

    }
</script>

</html>