<html>
<head><title>Error Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="text-align: center" >
<h3><%= messageObj.statusMessage %></h3>
<h3><%= messageObj.statusCode %></h3>
<img src="http://p.w3layouts.com/demos/ohh/web/images/error-img.png" title="error">
<br>
<br>
<a href="/" class="btn btn-info"> Login Again</a>
<h1><span><label>O</label>hh.....</span>You Requested the page that is no longer There.</h1>
</body>
</html>